@model IEnumerable<Projeto_Controle_de_Computadores.Models.Computador>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Computadores</title>
</head>
<body>
    <h1>Listar Computadores</h1>
    <a href="@Url.Action("CadastroComputador", "Cadastro")">Cadastrar Novo Computador</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço IP</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var computador in Model)
            {
                <tr>
                    <td>@computador.Nome</td>
                    <td>@computador.Ip</td>
                    <td>@computador.Grupo?.Nome</td>
                    <td>
                        <a href="@Url.Action("EditarComputador", "Cadastro", new { id = computador.Id })">Editar</a>
                        <form method="post" action="@Url.Action("ExcluirComputador", "Cadastro")" style="display:inline;">
                            <input type="hidden" name="id" value="@computador.Id" />
                            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este computador?');">Excluir</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</body>
</html>
